# Lab Assignment 1 -- Fundamentals
In this lab, you will complete a series of exercises related to the lecture material on coding fundamentals and collections.

Since this is the first lab that involves coding, we will begin with an exercise related to Jupyter notebook functionality.

## Exercise 1 -- Jupyter Markdown Basics
Jupyter notebooks allows cells to be interpreted as either code or Markdown. Markdown is a lightweight formatting language. In fact, what you're reading right now is written in Markdown. The syntax is very simple and a reference for common commands can be found [here](https://www.markdownguide.org/cheat-sheet/). Use this reference guide to complete the following steps:

1. Create a cell below this one by using the insert drop down menu or by clicking on the left of this box (so the side bar turns blue) and tapping the <kbd>b</kbd> key.
2. Make the cell a Markdown cell by clicking on it and using the drop down menu above.
3. Using the reference guide, find out how to create the **smallest** heading  and use it give the cell you create a header of "Solution to Exercise 1" without the quotes.
4. Using the reference guide, figure out how to make ordered and unordered lists. Using an unordered list, list three of the things you hope to learn from this class.
5. Sometimes, we want to reference specific code or code objects in the text of Markdown. Markdown allows us to format such reference so that it appears in a gray box (e.g. `x=3`). Using the reference guide, figure out how to format code and format  x = 3, so it has a gray box around it in the cell you created.

### solution to Exercise 1
#1,Learning the logic about coding
#2,Successfully coding a compelet programme
#3,The project could run fluently and finish its work

In [ ]:
x = 3

## Exercise 2 -- Basic Variable Assignment
Complete the following steps in the cells below.
1. Generate a variable called `x_flt` and set it equal to 3.0. Print its type.
2. Generate a variable called `x_int` and set it equal to 3. Print its type.
3. Generate a variable called  `x_str` and set it equal to "3". Print its type.
4. Which of these two variables can you add together with the `+` operator? Why? Answer in the Markdown cell below.

In [ ]:
# Exercise 2 Code
x_flt = 3.0
print(type(x_flt))

<class 'float'>

In [ ]:
x_int = 3
print(type(x_int))

<class 'int'>

In [ ]:
x_str = "3"
print(type(x_str))

<class 'str'>

In [ ]:
print(x_flt + x_int)

6.0

In [ ]:
print(x_flt + x_str)

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [ ]:
print(x_int + x_str)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

### Response to 2.4

The "x_flt + x_int" can be added into result as 6.0, because they are all the number.The difference between them is one contain the float another just 3.The "x_str" could not be added to other two things is because the "str" means a character or a text, and python could not understand what the real means behind it.

## Exercise 3 -- Variable Reassignment
Complete the following steps in the cells below.
1. Assign `x` equal to `"good"`
2. Assign `y` equal to `x`
3. Reassign `x` to `"bad"`
4. Use `print` to print `y`
5. Does the print statement print "good" or a "bad"? Did changing `x` to "bad" affect anything? Why or why not? Answer in the Markdown cell below.

### Response to 3.5
The print statement print "good".Last "x = "bad"" affect the content about x but it didn't work with y .The y has been given a value before and it only change x.

In [ ]:
# Exercise 3 Code
x = "good"
y = x
x = "bad"
print(y)

good

## Exercise 4 -- Basic Arithmetic
Generate the following variables with the corresponding value in the cell below:
1. `x` equal to 20
2. `y` equal to 10
3. `z1` equal to the sum of `x` and `y`
4. `z2` equal to `x` minus `y`
5. `z3` equal to `x` times `y`
6. `z4` equal to `x` divided by `y`

Answer the following question in the Markdown Cell Below

7. Use `type()` to deterimine which of these variables is a floating point number? Why is this the case?

In [ ]:
# Exercise 4 Code
x = 20
y = 10
z1 = x + y
z2 = x - y
z3 = x * y
z4 = x / y

In [ ]:
print(x)
print(y)
print(z1)
print(z2)
print(z3)
print(z4)

20
10
30
10
200
2.0

### Response to 4.7

In [ ]:
type(x)
type(y)
type(z1)
type(z2)
type(z3)
type(z4)

float

In [ ]:
print(type(x))
print(type(y))
print(type(z1))
print(type(z2))
print(type(z3))
print(type(z4))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'float'>

response:It seems that the z4 is the only float number, what affects it is we use y to divided x. In python the division have many kinds including '/','//'and '%'.What I used to divided x is '/' this kind of division will reserve or add the float when it caculate the result.

## Exercise 5 -- String Formatting
Complete the following steps in the cell below:
1. Define a list called `cities` that contains the names of three cities you would like to visit.
2. Define a corresponding list called `countries` where an entry is the country of each of those three cities.
3. Using these lists and f strings, print a sentence that says what country a city is in for each city in your list
4. Now do the same thing again but use the `.format()` method instead of f strings.

In [ ]:
# Exercise 5 Code
cities = ["Vancouver","New York","London"]
countries = ["Canada","America","British"]
string1 = f"{cities[0]} is in {countries[0]}"
print(string1)

Vancouver is in Canada

## Exercise 6 -- String Concatenation
Complete the following steps in the cell below:
1. Assign `b` to be equal to "b"
2. Assign `a` to be equal to "a"
3. Assign `n` to be equal to "n"
4. Using these variables, `+`, and `print`, print the the word "banana"

In [ ]:
# Exercise 6 Code
b = "b"
a = "a"
n = "n"

In [ ]:
print(b+a+n+a+n+a)

banana

## Exercise 7 -- Boolean Variable Keywords
Assign `a`, `b`,`c`, and `d`, so that every print statement below is true.


Afterwards, answer the following quesiton in the Markdown cell below:

Is the configuration of `a`, `b`,`c`, and `d` that makes both statements true unique? Why or why not? If it isn't unique, add another print statement to the list to rule out other configurations?

In [22]:
# Exercise 7 Code
a = True
b = False
c = False
d = False

In [18]:
print(a or d)
print(b or d)
print(c or d)
print(d)

True
True
True
True

In [23]:
# Uncomment the lines below when you have defined the variables to check your results
print(((a and b) or (c and d)) == False)
print(((a or c) and (b or d)) == False)
print(a and (not b) and (not c) and (not d))

True
True
True

It is not unique.